.Form{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 80vh;
    border: 1px solid black;
    margin: 10px 10px 0 10px;
}

.FormInput {
    margin-right: 10px;
}

.FormField {
    margin: 10px 5px 0 5px;
}
.inputClass {
    width: 100%;
    border-radius: 0.2rem;
    display: flex !important;
    height: 20px;
}

.inputButton {
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
    border: 1px solid black;
    margin: 10px 10px 0 10px;
}
.closeButton {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}